@model List<StartupEducationWeekend.Models.Classes>

<div>
    <select id="ClassList" multiple="multiple" size="10">
        @foreach(var Class in Model)
        {
            <option value="@Class.ClassId">
                @Class.ClassCode | @Class.ClassSection | @Class.ClassTitle
            </option>
        }
    </select>
</div>
<script>
    var SelectedClasses = new Array();
    $("#ClassList").change(function () {
      $("#ClassList option:selected").each(function () {
          SelectedClasses.push(this.val())
          console.log(SelectedClasses);
      });
  })
</script>