@model List<StartupEducationWeekend.Models.Classes>
@{
    ViewBag.Title = "AddClasses";
}

<h2>AddClasses</h2>
@Html.Partial("ClassSelect", Model)
<button id="SubmitButton">
    Add Classes
</button>
<script>
    $("#SubmitButton").click(function (){
        $.post("@Url.Action("AssociateClassesToUser", "Account")", function(data){
            if (data == 1) {
                console.log("success");
            }
            else {
                console.log("failure");
            }
        });
    });
</script>
